<div id="activeHeader">
    <h2>
        Active Search
    </h2>
    <p>
        Check if user X is currently in the queue, whom they are working with,
        and how long they have been working with that person.
    </p>
</div>
<div id='activeBody' class="container-fluid">
    {% for student in active['present'] %}
    <div class="card {{info['netid']}}-comp">
        <div class='row align-content-center'>
            <div class="card-body">
                {{ student['info'] }}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if active['absent']|length != 0 %}
    <h5><em>Students not currently in Queue</em></h5>
    <ul>
        {% for student in active['absent'] %}
        <li class="{{student['netid']}}-comp"><em>{{student['name']}}</em></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>