<div id="periodHeader">
    <h2>
        Period Search
    </h2>
    <p>
        Over the provided time period, check what days user X has
        attended the queue, and print out which students they spent too much time on
    </p>
</div>
<div id="periodBody">
    <input class="periodTimeInput" id="startInput" type="date" value="{{pst}}">
    <input class="periodTimeInput" id="endInput" type="date" value="{{pet}}">
    <div class="loader"></div>
    <div id='periodDataWrapper'></div>
</div>
<style>
    .overclass {
        color: rgb(224, 31, 31);
    }

    .notoverclass {
        color: rgb(32, 208, 32);
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #2d2e2f;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<script>
    'use strict';

    $('document').ready(() => {
        $(".loader").hide()
        $('.periodTimeInput').on('change', () => {
            updateMetrics(false)
        });
    });
</script>