<div id="periodHeader">
    <h2>
        Period Search
    </h2>
    <p>
        Over the provided time period, check what days user X has
        attended the queue, and print out which students they spent too much time on
    </p>
</div>
<div id="periodBody">
    <input id="startInput" type="date" value="{{pst}}">
    <input id="endInput" type="date" value="{{pet}}">
    <div id='periodDataWrapper'></div>
</div>
<style>
    .overclass {
        color: rgb(224, 31, 31);
    }

    .notoverclass {
        color: rgb(32, 208, 32);
    }
</style>
<script>
    'use strict';

    var requestPeriod = null;

    function updatePeriod() {
        let sel = selected();
        let start = $('#startInput').val();
        let end = $('#endInput').val()
        start = encodeURIComponent(start);
        end = encodeURIComponent(end);
        sel = encodeURIComponent(sel);

        if (requestPeriod != null)
            requestPeriod.abort();

        requestPeriod = $.ajax(
            {
                type: 'GET',
                url: `/updateperiod?pst=${start}&pet=${end}&sel=${sel}`,
                success: (res) => {
                    $('#periodDataWrapper').html(res)
                }
            }
        );
    }

    function setupPeriodWindow() {
        $('#startInput').on('change', updatePeriod);
        $('#endInput').on('change', updatePeriod);
    }
    $('document').ready(setupPeriodWindow);
</script>