<div class="container-fluid" id='SearchBar' style="background-color:#295078; color:white">
   <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
         <input placeholder="Name" id="nameID" class="form-control searchinput" autofocus>
      </div>
      <div class="col-sm-3">
         <input placeholder="Netid" id="netID" class="form-control searchinput">
      </div>
      <div class="col-sm-3">
         <select class="form-select searchinput" id="yearID" name="year">
            <!-- <option selected disabled hidden value="-1">Class Year</option> -->
            <option selected value="-1">Class Year</option>
            {% set senior_class = 2023 %}
            {%for i in range(4)%}
            <option value="{{senior_class+i}}">{{senior_class+i}}</option>
            {%endfor%}
            <option value="2000">Faculty</option>
         </select>
      </div>
      <div class="col-sm-1">
         <div class="row">
            <button class="form-control primary" id="all126">COS 126</button>
         </div>
         <div class="row">
            <button class="form-control primary" id="all2xx">COS 2xx</button>
         </div>
      </div>
      <div class="col-sm-1"></div>
   </div>
</div>
<div class="container-fluid" id="searchresults"></div>
<hr>
<div class="container-fluid" id="selectedStudents"></div>
<script src="../static/searchbar.js"></script>
<style>
   .searchinput {
      padding-top: 5px;
      padding-bottom: 15px;
      padding-left: 5px;
      padding-right: 5px;
   }

   .searchresult:hover {
      background-color: #a1a4a4;
   }
</style>