<div class="row">
    <div class="col-sm-4">
        <input placeholder="Name" id="nameID" class="form-control" autofocus>
    </div>
    <div class="col-sm-4">
        <input placeholder="Netid" id="netID" class="form-control">
    </div>
    <div class="col-sm-4">
        <input placeholder="Class Year" id="yearID" class="form-control">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    'use strict';
    
    function handleResponse(response)
     {
        $('#content').html(response);
     }

     let request = null;

     function getResults()
     {
        let name = $('#nameID').val();
        let netid = $('#netID').val();
        let year = $('#yearID').val();
        
        name = encodeURIComponent(name);
        netid = encodeURIComponent(netid);
        year = encodeURIComponent(year);

        let url = `/${}?name=${name}&=netid=${netid}&year=${year}`;

        if (request != null)
           request.abort();

        request = $.ajax(
           {
              type: 'GET',
              url: url,
              success: handleResponse
           }
        );
     }

     function setup()
     {
        $('#nameID').on('input', getResults);
        $('#netID').on('input', getResults);
        $('#yearID').on('input', getResults);
        getResults()
     }
     $('document').ready(setup);
</script>